# SPDX-License-Identifier: GPL-2.0-or-later

#
# Linksys WRT54GL v8.0
#

source [find target/bcm5354.cfg]

reset_config trst_and_srst

# External 2MB NOR Flash
set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME cfi 0x1c000000 0x00200000 2 2 $_TARGETNAME